**/nbproject/private/
**/.classpath
**/.settings
**/.project
**/.vscode
**/.idea/
**/private/
**/netbeans/
**/build/
**/dist/
**/out/
**/bin/
*.class
*.log
*.tmp
*.swp
*.bak
*.iml
*.jtxt
*.DS_Store
.gradle/
.nb-gradle/
.gradle/
*.dll
*.so
*.jnilib
*.dylib
*.pdb
/jme3-*/build/
/jme3-*/bin/
/jme3-bullet-native/bullet3.zip
/jme3-bullet-native/bullet3-*/
/jme3-bullet-native/src/native/cpp/com_jme3_bullet_*.h
/jme3-android-native/openal-soft/
/jme3-android-native/OpenALSoft.zip
/jme3-android-native/src/native/jme_decode/STBI/
/jme3-android-native/src/native/jme_decode/Tremor/
/jme3-android-native/stb_image.h
/buildMaven.bat
/.travis.yml
/appveyor.yml
/javadoc_deploy
/javadoc_deploy.pub

